
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  
  </head>
  <body>

    
    <nav class="navbar navbar-light bg-light">
            <div >
                <a class="navbar-brand" href="#">
                <img src="https://res.cloudinary.com/dzefnwqwv/image/upload/v1667862185/responsive_vuecyl.png" alt="" width="70" height="60">
                </a>
                <div style="display: flex;">
                </div>
                
            </div>
    </nav>
    <div style="display: flex; padding: 20px; justify-content: end; align-items: baseline;">
        <p style="margin-right: 19px;">hola {{persona}}</p>
        <a type="button" href="/admin/login/logout"  class="btn btn-danger">Cerrar sessión</a>
    </div>

    <footer style="display: flex; justify-content: center; padding: 5px; background-color: #6166fb; color: #fff;">
        <p>© 2022 FelipeHernandez</p>
    </footer>

  </body>
</html>
